.apic-user-form-container-secure {
    width: 50%;
    margin: 0;
}

.apic-user-form-container-secure-action #edit-actions {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    direction: rtl;
}

.apic-user-form-container-secure-action #edit-actions button {
    padding: 0;
    margin:  1rem 0 1rem 0;
}